*.swp

*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.dvi
*.nav
*.snm
*.out
*.vrb
*.toc
*.mp4
*.xml

*.pdf
!main.pdf
!nn-intro.pdf
!thesis-presentation.pdf
*.svg

!figures/*
figures/*-converted-to*


*.bbl
*.bcf
*.blg

*log*/*


